
<div class="h2_guide-title">Theme Color</div>
<p><code>.is-primary</code>,<code>.is-info</code>,<code>.is-warning</code>,<code>.is-danger</code></p>

<a href="" class="yui-btn is-primary">yui-btn.is-primary</a>
<a href="" class="yui-btn is-info">yui-btn.is-info</a>
<a href="" class="yui-btn is-warning">yui-btn.is-warning</a>
<a href="" class="yui-btn is-danger">yui-btn.is-danger</a>

<hr class="hr_guide-line">

<div class="h2_guide-title">Brand Color</div>
<p><code>.is-twitter</code>,<code>.is-facebook</code>,<code>.is-hatena</code>,<code>.is-pocket</code></p>

<a href="" class="yui-btn is-twitter">yui-btn.is-twitter</a>
<a href="" class="yui-btn is-facebook">yui-btn.is-facebook</a>
<a href="" class="yui-btn is-hatena">yui-btn.is-hatena</a>
<a href="" class="yui-btn is-pocket">yui-btn.is-pocket</a>

