
<div class="_guide-box">
    {{> @button }}
</div>

<div class="_guide-box">
    {{> @button--color }}
</div>

<div class="_guide-box">
    {{> @button--form }}
</div>

<div class="_guide-box">
    {{> @button--size }}
</div>

