
<div class="h2_guide-title">Size</div>
<a href="" class="yui-btn-plain is-xxs">a.yui-btn-plain.is-xxs</a>
<a href="" class="yui-btn-plain is-xs">a.yui-btn-plain.is-xs</a>
<a href="" class="yui-btn-plain is-sm">a.yui-btn-plain.is-sm</a>
<a href="" class="yui-btn-plain is-md">a.yui-btn-plain.is-md</a>
<a href="" class="yui-btn-plain is-lg">a.yui-btn-plain.is-lg</a>
<a href="" class="yui-btn-plain is-xl">a.yui-btn-plain.is-xl</a>

