
<div class="h2_guide-title">Disable</div>
<p><code>.is-disable</code></p>

<a href="" class="yui-btn-plain is-disable">a.yui-btn-plain.is-disable</a>
<span class="yui-btn-plain is-disable">span.yui-btn-plain.is-disable</span>
<div class="yui-btn-plain is-disable">div.yui-btn-plain.is-disable</div>
<button class="yui-btn-plain is-disable">button.yui-btn-plain.is-disable</button>
<input class="yui-btn-plain is-disable" type="submit" value="inputSubmit.yui-btn-plain.is-disable">

<hr class="hr_guide-line">

<div class="h2_guide-title">Block</div>
<p><code>.is-block</code></p>

<a href="" class="yui-btn-plain is-block">a.yui-btn-plain.is-block</a>
<span class="yui-btn-plain is-block">span.yui-btn-plain.is-block</span>
<div class="yui-btn-plain is-block">div.yui-btn-plain.is-block</div>
<button class="yui-btn-plain is-block">button.yui-btn-plain.is-block</button>
<input class="yui-btn-plain is-block" type="submit" value="inputSubmit.yui-btn-plain.is-block">

<hr class="hr_guide-line">

<div class="h2_guide-title">side-up</div>
<p><code>.is-side-up</code></p>

<a href="" class="yui-btn-plain is-side-up">a.yui-btn-plain.is-side-up</a>
<span class="yui-btn-plain is-side-up">span.yui-btn-plain.is-side-up</span>
<div class="yui-btn-plain is-side-up">div.yui-btn-plain.is-side-up</div>
<button class="yui-btn-plain is-side-up">button.yui-btn-plain.is-side-up</button>
<input class="yui-btn-plain is-side-up" type="submit" value="inputSubmit.yui-btn-plain.is-side-up">

<hr class="hr_guide-line">


<div class="h2_guide-title">Round</div>
<p><code>.is-round</code></p>

<a href="" class="yui-btn-plain is-round">a.yui-btn-plain.is-round</a>
<span class="yui-btn-plain is-round">span.yui-btn-plain.is-round</span>
<div class="yui-btn-plain is-round">div.yui-btn-plain.is-round</div>
<button class="yui-btn-plain is-round">button.yui-btn-plain.is-round</button>
<input class="yui-btn-plain is-round" type="submit" value="inputSubmit.yui-btn-plain.is-round">

<hr class="hr_guide-line">


<div class="h2_guide-title">Round None</div>
<p><code>.is-round-none</code></p>

<a href="" class="yui-btn-plain is-round-none">a.yui-btn-plain.is-round-none</a>
<span class="yui-btn-plain is-round-none">span.yui-btn-plain.is-round-none</span>
<div class="yui-btn-plain is-round-none">div.yui-btn-plain.is-round-none</div>
<button class="yui-btn-plain is-round-none">button.yui-btn-plain.is-round-none</button>
<input class="yui-btn-plain is-round-none" type="submit" value="inputSubmit.yui-btn-plain.is-round-none">

<hr class="hr_guide-line">

<div class="h2_guide-title">Icon Round</div>
<p><code>.is-icon-round</code></p>

<a href="" class="yui-btn-plain is-icon-round"><i class="fas fa-home"></i></a>
<span class="yui-btn-plain is-icon-round"><i class="fas fa-home"></i></span>
<div class="yui-btn-plain is-icon-round"><i class="fas fa-home"></i></div>
<button class="yui-btn-plain is-icon-round"><i class="fas fa-home"></i></button>

<hr class="hr_guide-line">

<div class="h2_guide-title">Circle</div>
<p><code>.is-circle</code></p>

<a href="" class="yui-btn-plain is-circle"><i class="fas fa-home"></i></a>
<span class="yui-btn-plain is-circle"><i class="fas fa-home"></i></span>
<div class="yui-btn-plain is-circle"><i class="fas fa-home"></i></div>
<button class="yui-btn-plain is-circle"><i class="fas fa-home"></i></button>

