
<div class="h2_guide-title">Default</div>
<a href="" class="yui-btn">a.yui-btn</a>
<span class="yui-btn">span.yui-btn</span>
<div class="yui-btn">div.yui-btn</div>
<button class="yui-btn">button.yui-btn</button>
<input class="yui-btn" type="submit" value="inputSubmit.yui-btn">

<hr class="hr_guide-line">

<div class="h2_guide-title">Plain</div>
<a href="" class="yui-btn-plain">a.yui-btn-plain</a>
<span class="yui-btn-plain">span.yui-btn-plain</span>
<div class="yui-btn-plain">div.yui-btn-plain</div>
<button class="yui-btn-plain">button.yui-btn-plain</button>
<input class="yui-btn-plain" type="submit" value="inputSubmit.yui-btn-plain">

<hr class="hr_guide-line">

<div class="h2_guide-title">Floating</div>
<a href="" class="yui-btn-floating">a.yui-btn-floating</a>
<span class="yui-btn-floating">span.yui-btn-floating</span>
<div class="yui-btn-floating">div.yui-btn-floating</div>
<button class="yui-btn-floating">button.yui-btn-floating</button>
<input class="yui-btn-floating" type="submit" value="inputSubmit.yui-btn-floating">

<hr class="hr_guide-line">

<div class="h2_guide-title">Melt</div>
<a href="" class="yui-btn-melt">a.yui-btn-melt</a>
<span class="yui-btn-melt">span.yui-btn-melt</span>
<div class="yui-btn-melt">div.yui-btn-melt</div>
<button class="yui-btn-melt">button.yui-btn-melt</button>
<input class="yui-btn-melt" type="submit" value="inputSubmit.yui-btn-melt">

<hr class="hr_guide-line">

<hr class="hr_guide-line">
<div class="h2_guide-title">Outline</div>
<a href="" class="yui-btn-outline">a.yui-btn-outline</a>
<span class="yui-btn-outline">span.yui-btn-outline</span>
<div class="yui-btn-outline">div.yui-btn-outline</div>
<button class="yui-btn-outline">button.yui-btn-outline</button>
<input class="yui-btn-outline" type="submit" value="inputSubmit.yui-btn-outline">

<hr class="hr_guide-line">

<div class="h2_guide-title">Ghost</div>

<div style="padding: 16px; background: #ccc;">

<a href="" class="yui-btn-ghost">a.yui-btn-ghost</a>
<span class="yui-btn-ghost">span.yui-btn-ghost</span>
<div class="yui-btn-ghost">div.yui-btn-ghost</div>
<button class="yui-btn-ghost">button.yui-btn-ghost</button>
<input class="yui-btn-ghost" type="submit" value="inputSubmit.yui-btn-ghost">

</div>

