
<div class="h2_guide-title">Default</div>
<a href="" class="yui-text-size">a.yui-text-size</a><br>
<span class="yui-text-size">span.yui-text-size</span><br>
<p class="yui-text-size">p.yui-yui-text-size</p>
<div class="yui-text-size">div.yui-text-size</div>

<hr class="hr_guide-line">

<div class="h2_guide-title">size-xs</div>
<p><code>.is-size-xs</code></p>

<a href="" class="yui-text-size is-size-xs">a.yui-text-size.is-size-xs</a><br>
<span class="yui-text-size is-size-xs">span.yui-text-size.is-size-xs</span><br>
<p class="yui-text-size is-size-xs">p.yui-yui-text-size.is-size-xs</p>
<div class="yui-text-size is-size-xs">div.yui-text-size.is-size-xs</div>

<hr class="hr_guide-line">

<div class="h2_guide-title">size-sm</div>
<p><code>.is-size-sm</code></p>

<a href="" class="yui-text-size is-size-sm">a.yui-text-size.is-size-sm</a><br>
<span class="yui-text-size is-size-sm">span.yui-text-size.is-size-sm</span><br>
<p class="yui-text-size is-size-sm">p.yui-yui-text-size.is-size-sm</p>
<div class="yui-text-size is-size-sm">div.yui-text-size.is-size-sm</div>

<hr class="hr_guide-line">

<div class="h2_guide-title">size-md</div>
<p><code>.is-size-md</code></p>

<a href="" class="yui-text-size is-size-md">a.yui-text-size.is-size-md</a><br>
<span class="yui-text-size is-size-md">span.yui-text-size.is-size-md</span><br>
<p class="yui-text-size is-size-md">p.yui-yui-text-size.is-size-md</p>
<div class="yui-text-size is-size-md">div.yui-text-size.is-size-md</div>

<hr class="hr_guide-line">

<div class="h2_guide-title">size-lg</div>
<p><code>.is-size-lg</code></p>

<a href="" class="yui-text-size is-size-lg">a.yui-text-size.is-size-lg</a><br>
<span class="yui-text-size is-size-lg">span.yui-text-size.is-size-lg</span><br>
<p class="yui-text-size is-size-lg">p.yui-yui-text-size.is-size-lg</p>
<div class="yui-text-size is-size-lg">div.yui-text-size.is-size-lg</div>

<hr class="hr_guide-line">

<div class="h2_guide-title">size-xl</div>
<p><code>.is-size-xl</code></p>

<a href="" class="yui-text-size is-size-xl">a.yui-text-size.is-size-xl</a><br>
<span class="yui-text-size is-size-xl">span.yui-text-size.is-size-xl</span><br>
<p class="yui-text-size is-size-xl">p.yui-yui-text-size.is-size-xl</p>
<div class="yui-text-size is-size-xl">div.yui-text-size.is-size-xl</div>

<hr class="hr_guide-line">

<div class="h2_guide-title">size-xxl</div>
<p><code>.is-size-xxl</code></p>

<a href="" class="yui-text-size is-size-xxl">a.yui-text-size.is-size-xxl</a><br>
<span class="yui-text-size is-size-xxl">span.yui-text-size.is-size-xxl</span><br>
<p class="yui-text-size is-size-xxl">p.yui-yui-text-size.is-size-xxl</p>
<div class="yui-text-size is-size-xxl">div.yui-text-size.is-size-xxl</div>
