<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="{{path '/assets/css/style-guide.css'}}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="//contiki9.github.io/yui-series/assets/css/yui-series.css"/>

    <title>{{ _target.label }} | Preview Layout</title>
</head>
<body class="_guide-body {{ layout }}" >


{{{ yield }}}

</body>
</html>